.brand_logo_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}
.brand_l {
    max-width: 150px;
    max-height: 100px;
    object-fit: contain;
}
.admin-info {
    color: white;
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
} 

body {
    overflow-x: hidden;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar .nav-link {
    font-weight: 500;
    color: #fff;
}

.sidebar .nav-link.active {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.content-wrapper {
    margin-left: 200px;
    /* Ancho del sidebar */
}